@model AuthorDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Author</h1>
<form method="post">
    <div class="d-flex m-2">
        <div class="col-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-2">
            <input asp-for="Name" value="@Model.Name" />
        </div>
        <div>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="d-flex m-2">
        <div class="col-2">
            <label asp-for="Bio"></label>
        </div>
        <div class="col-2">
            <textarea asp-for="Bio">@Model.Bio</textarea>
        </div>
        <div>
            <span class="text-danger" asp-validation-for="Bio"></span>
        </div>
    </div>
    <div class="d-flex m-2">
        <div class="col-2">
            <label asp-for="DateOfBirth"></label>
        </div>
        <div class="col-2">
            <input asp-for="DateOfBirth" type="date" value="@Model.DateOfBirth" />
        </div>
        <div class="col-2">
            <span class="text-danger" asp-validation-for="DateOfBirth"></span>
        </div>
    </div>
    <input type="hidden" value="@Model.Id" />
    <button type="submit">Save</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
